{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    <span>Website-Einstellungen</span>{% if headline.sub %}<span>{{ headline.sub }}</span> {% endif %}
{% endblock %}

{% block error %}{% if error.message %}{{ error.message }}{% endif %}{% endblock %}

{% block main %}
    {% if backlink %}
    <div id="tl_buttons">
        <a href="{{ backlink }}" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">Zurück</a>
    </div>
    {% endif %}

    {{ content|raw }}

{% endblock %}
