{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    <span>Firmendaten</span>
{% endblock %}

{% block error %}{% if error.message %}{{ error.message }}{% endif %}{% endblock %}

{% block main %}
    <div class="iido-backend-wrapper">
        <div class="tl_listing_container">

        </div>
    </div>
{% endblock %}
